In [1]:
import pandas as pd

In [7]:
whr = pd.read_csv("2019WorldHappiness.csv", index_col= "Overall rank")
whr

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

Pandas will convert integers to floats if there is a single NaN in the column.

In [8]:
whr.dtypes

Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [9]:
whr.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 1 to 156
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country or region             156 non-null    object
 1   Score                         156 non-null    float64
 2   GDP per capita                156 non-null    float64
 3   Social support                156 non-null    float64
 4   Healthy life expectancy       156 non-null    float64
 5   Freedom to make life choices  156 non-null    float64
 6   Generosity                    156 non-null    float64
 7   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), object(1)
memory usage: 11.0+ KB

In [10]:
type(whr["Score"])

pandas.core.series.Series

In [12]:
whr["Score"].value_counts()

5.208    2
5.467    1
7.139    1
4.944    1
4.350    1
        ..
6.028    1
5.274    1
6.825    1
6.300    1
6.375    1
Name: Score, Length: 155, dtype: int64

In [14]:
whr.dropna(subset=['Score'])

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

Use .astype("category") when dealing with a column that has a lot of repitition

In [17]:
whr.sort_values("Healthy life expectancy" , ascending=False)
# you can sort by multiple columns using a list, and ascending can be passed a listvalkues

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
34,Singapore,6.262,1.572,1.463,1.141,0.556,0.271,0.453
76,Hong Kong,5.430,1.438,1.277,1.122,0.440,0.258,0.287
58,Japan,5.886,1.327,1.419,1.088,0.445,0.069,0.140
30,Spain,6.354,1.286,1.484,1.062,0.362,0.153,0.079
6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
...,...,...,...,...,...,...,...,...
99,Ivory Coast,4.944,0.569,0.808,0.232,0.352,0.154,0.090
132,Chad,4.350,0.350,0.766,0.192,0.174,0.198,0.078
144,Lesotho,3.802,0.489,1.169,0.168,0.359,0.107,0.093
155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
135,Swaziland,4.212,0.811,1.149,0.000,0.313,0.074,0.135

In [18]:
whr.sort_index()

,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
Overall rank,,,,,,,,
1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...
152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [20]:
whr["Social support"].rank(ascending=False).astype("int")

Overall rank
1        2
2        4
3        3
4        1
5       15
      ...
152    145
153    132
154    152
155    156
156    149
Name: Social support, Length: 156, dtype: int32